body {
    background: #2c2c2c;
    color: #71797E;
}

aside {
    float: left;
    background: #2c2c2c;
    width: 18%;
    padding: 1%;
    height: 500vh;
    color: #607598;
    border-right: 5px solid #4d4d4d;
}

aside img {
    wight: 80px;
    float: left;
    margin-bottom: 25px;
    display: block;
}
aside img:hover{transform: scale(1.05);}

aside h3 {
    margin-top: 120px;

}

aside ul {list-style: none}

aside ul li {
    display: block;
    margin-top: 15px;
    transition: all 0.6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #e937bd;
    text-decoration: none;
    transform: scale(1.1);
}

main .features, .container {
    float: left;
    color: #71797E;
    margin-top: 10px;
    wight: 150px;
}

main .features p {max-wight: 600px; margin: 20px auto;}
h1 {color: #B2BEB5; text-align: left;  font-size: 35px; margin-left: 30%; margin-top: 2% }

*.card-header, .card-body, .card-title, .card-text {
    color: #9ba3ac;
    float: left;
    color: #9ba3ac;
    background-color: #2c2c2c;

}

.container .img {
    object-fit: cover;
    wight: 180px;
    height: 100%;
    border-radius:
}
.img {
    wight: 180px;
    height: 100%;
    float: left;
    margin-bottom: 25px;
    display: block;
}
.py-4, .pt-4, .col-8, col-10, fieldset {
    color: #9ba3ac;
    background-color: #2c2c2c;
    float: left;
    width: 100%;
    text-align: center;
    align: left;
}

.card-body, {
    float: left;
    align: left;
    width: 100%;
}
.row {
    margin-top: 50px;
    float: left;
    align: left;
    width: 100%;
}
accounts h1 {color: #71797E;}
accounts .features {
    float: left;
    color: #71797E;
    margin-top: 10px;
    wight: 75%;
    }

.comment, .ul {
    color: #B2BEB5;
    background-color: #2c2c2c;
    float: left;
    text-align: left;
    }

*|form {
    color: #B2BEB5;
    background-color: #2c2c2c;
    margin: center;
    wight: 500px;
    margin-top: 10px;
    }


table {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    }

table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    }

table td {
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
    }


