{% extends 'main/layout.html' %}
{% block title  %}
Add a Post
{% endblock %}

{% block content %}
<div class="features">
    <h1>Добавление объявления</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
<!--        <input type="text" placeholder= {{ user }} class="form-control"><br>-->
<!--        <input type="text" placeholder="Введите заголовок" class="form-control"><br>-->
<!--        <textarea class="form-control" placeholder="А сюда - содержание"></textarea><br>-->
<!--        <button class="btn btn-success" type="submit">Добавить статью</button>-->
        <br><br>
    </form>
</div>

{% endblock %}