{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %} Create a new post {% endblock title %}
{% block text %}

<h1> {{ string }} {% trans "Новый пост от " %} "{{ user }}"</h1>
{% endblock %}

{% block content %}
<div class="features">

    <form method="POST" class="form-parent" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-error"> {{ form.non_field_errors }} </div>

          {% for f in form %}
                <p label class="form-label" for={{ f.id_for_lablel }}>
                 {{f.label}}: </label> {{f}} </p>
                <div class="form-error">{{f.errors}}</div>
          {% endfor %}

    <input type="submit" value= '{{ string }} {% trans "Сохранить" %}'>

    </form>
</div>
{% endblock content %}