{% extends 'main/layout.html' %}
{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load i18n %}

{% block content %}

<!-- nav bar -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"> <<< {% trans "Вернуться на главную" %} </a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
</nav>

<div class="container">
        <div class="card" style="max-width: 50rem;">
            <div class="card-header"> {% trans "Пост от  " %}  {{ post.post_time }}</div>
            <div class="card-header"> {% trans "Автора:  " %}  <b><mark>'{{ post.author }}'</mark></b></div>
            <div class="card-body">
                <div class="image">
                    {% if post.image %}
                <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="Image of {{post.author}}"/>
                    {% elif post.video %}
                    <iframe width="560" height="315" sandbox src="{{ post.video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; controls=1 ></iframe>
                    {% elif post.audio %}
                    <audio controls>
                        <source src="{{ post.audio.url }}" type="audio/mpeg">
                    </audio>
                    {% endif %}

                    </div>


                <h5 class="card-title">
                    {% trans "Заголовок:  " %} {{ post.title }}
                </h5>
            <p class="card-text">{% trans "Текст:  " %} {{ post.text }}</p>
            </div>
        </div>
</div>

{% get_comment_count for post as comment_count %}
    <div class="py-4 ">
        <p class="card-text">
    {{ comment_count }} comment{{ comment_count|pluralize }}
    ha{{ comment_count|pluralize:"s,ve"}} been posted.
        </p>
    </div>

<ul class="media-list shadow p-3 mb-5 bg-grey rounded container">
    {% if comment_count %}


        <p class="card-text">
        {% render_xtdcomment_tree for post %} <br>
        </p>

    {% endif %}
    </ul>

        <div class="card pt-4 bg-grey ">
            <h4 class="text-left">Your comment</h4>
            {% render_comment_form for post %}
        </div>
{% endblock content %}