{% extends "base.html" %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="pb-3">
  <h1 class="page-header text-center">{{ post.title }}</h1>
  <p class="small text-center">{{ post.publish|date:"l, j F Y" }}</p>
</div>
<div>
  {{ post.body|linebreaks }}
</div>

{% get_comment_count for post as comment_count %}
<div class="py-4 text-center">
  <a href="{% url 'main' %}">Back to the post list</a>
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve"}} been posted.
</div>

{% if post.allow_comments %}
<div class="comment mt-3 mb-5">
  <h4 class="text-center mb-4">Your comment</h4>
  <div class="card pt-4">
    {% render_comment_form for post %}
  </div>
</div>
{% endif %}

{% if comment_count %}
<ul class="media-list">
  {% render_xtdcomment_tree for post %}
</ul>
{% endif %}
{% endblock %}