{% extends 'main/layout.html' %}{% load static %}
{% load i18n %}

{% block title %} The Post of {{post.author}} {% endblock title %}

{% block content %}


<div class="features" >


        <h1>{{ string }} {% trans "Просмотр публикации:" %}</h1>
        <h2> {{ string }} {% trans "Автор:" %} "{{post.author}} " </h2>
        <h4>{{ string }} {% trans "дата и время поста:" %} {{post.post_time}}<br>
            <br>{{ string }} {% trans "Заголовок:" %} "{{ post.title }}"</h4>
        <br>
   <h2>'Post ID= ' {{post.id}}</h2>
         <hr>
            <h3 >{{ string }} {% trans "Содержание: " %} </h3>
    <p style="width: 50em; padding: 1em;">{{post.text|linebreaks}}</p>

     <hr>


<p style="width: 50em; padding: 1em;">
<a href="{% url 'update' post.id %}"><u> {{ string }} {% trans "Редактировать" %}
        &#128260;</u></a><br>
<a href="{% url 'delete' post.id %}"><u> {{ string }} {% trans "Удалить" %} &#128683; </u></a>
</p>

</div>
{% endblock content %}